<style>
    .buttonF {
  box-shadow: 5px 10px 18px gray;
  background-color: #4c4c4c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid #4c4c4c;
  cursor: pointer;
  width: 100px;
  border-radius: 4px;
  transition-duration: 0.4s;
  float: left 5px;
}
.buttonF:hover {
  background-color: #FFFFFF;
  color: black;
  border: 2px solid #4c4c4c;
  }
    .buttonF {
  box-shadow: 5px 10px 18px gray;
  background-color: #4c4c4c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: 2px solid #4c4c4c;
  cursor: pointer;
  width: 50px;
  border-radius: 4px;
  transition-duration: 0.4s;
  float: left 5px;
}
.buttonF:hover {
  background-color: #FFFFFF;
  color: black;
  border: 2px solid #4c4c4c;
  }
</style>
